
.container1 {
    border-style: solid;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;

    
}

.inputs {
    border-style: solid;
    display: flex;
}

input {
    background-color: aqua;

}

.header {
    border-style: solid;
    border-color: red;

}
